.container {
  margin-top: 60px;
  position: relative;
}

.innerContainer {
  display: flex;
  flex-direction: column;
}

.top {
  z-index: 0;
}

.text {
  h1 {
    padding-bottom: 145px;
    z-index: 5;
    font-size: 61.4115px;
    line-height: 74px;
    color: #535353;
    max-width: 685px;
    span {
      color: #956dd9;
      position: relative;
      white-space: nowrap;
      &::before {
        content: "";
        position: absolute;
        top: calc(100% - 18px);
        left: 0;
        right: 0;
        height: 17px;
        background: rgba(149, 109, 217, 0.1);
        z-index: -1;
      }
    }
  }
}

.canvas {
  flex: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  iframe {
    height: 100%;
    width: 100%;
    border: 0;
    transform: scale(1.0017);
    $min: 1px;
    $max: calc(100% - $min);
    clip-path: polygon($min $min, $min $max, $max $max, $max $min);
  }
}

.ctas {
  display: flex;
  margin-top: -100px;
  z-index: 5;
  button {
    &:nth-child(1) {
      --theme: #8850e7;
    }
    &:nth-child(2) {
      --theme: #607cde;
    }
    margin-right: 17px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.199);
    border-radius: 14px;
    border: 1px solid #e4e4e4;
    padding: 18px 22px;
    color: var(--theme);
    backdrop-filter: blur(40px);
    transition: 0.2s;
    .arrow path {
      transition: 0.2s;
    }
    &:hover {
      background: rgba(224, 224, 224, 0.199);
      .arrow path {
        transform: translate(5px);
      }
    }
    .ps {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 50px;
    }
    .p1 {
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 3px;
    }
    .p2 {
      font-weight: bold;
      font-size: 32px;
      line-height: 38px;
    }
    .polygon {
      display: flex;
      align-items: center;
      p {
        margin-left: 9px;
      }
    }
    circle {
      fill: var(--theme);
    }
  }
}
