.container {
  border-bottom: 15px solid #7657aa;
  margin-top: auto;
  position: relative;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #815cbf;
    margin-left: 20px;
    transform: translateY(-2px);
  }
}

.tagline {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  max-width: 282px;
  color: #535353;
  margin: 15px 0 30px;
  span {
    color: #956dd9;
  }
}

.bg {
  position: absolute;
  top: 10px;
  left: -20px;
}
